.count{
        color: white;
        padding: .3em;
        font-weight: 700;
        border-radius: .28571429rem;
        border: 2px solid white;
        z-index: 1;
        font-size: .64285714rem;
        position: absolute;
        top: 0.2em;
        left: 50%;
}

#user-menu{
    .text{
        background-color: teal;
        @extend .count;
    }
}

#message-menu{
    .text{
        background-color: red;
        @extend .count;
    }
}